<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/experience">Experience</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/certifications">Certifications</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Find Me</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:awang982@gmail.com?subject=Allen&#39;s%20Website%20Enquiry&body=Hello%20Allen.%20%20Let&#39;s%20talk&#33">email</a></li>
   <li><a href="https://github.com/awang982">github.com/awang982</a></li>
   <li><a href="https://www.linkedin.com/in/wang-allen/">linkedin.com/in/wang-allen</a></li>
   </ul>
  </footer>
  </body>

</html>
